/* Global styles */

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}



/* Header styles */

header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

header .name {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

/* Navigation bar styles */

nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 80px;
    background-color: #fff;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease;
}

/* .navbar .Vy{
    size: 10rem;
    width: 4vw;
    height: 6vw;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
}

nav.navbar.Vy.scrolled {
    top: -05px;
    height: 50px;
    padding: 0.5rem 10%;
    width: 2vw;
    height: 3vw;
    min-width: 70px;
    min-height: 80px;
    
    background-color: #f7f7f3;
} */

nav.navbar.scrolled {
    top: -05px;
    height: 50px;
    padding: 0.5rem 10%;
    font-size: 12px;
    background-color: #f7f7f3;
}

nav.navbar a.name {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

nav.navbar.scrolled a.name {
    color: #f7f7f3;
}

nav.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav.navbar li {
    margin-left: 9px;
}

nav.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

nav.navbar a:hover {
    color: #0077b6;
}

/* Add styles to sections */

section {
    padding-top: 90px;
    /* The height of the navbar */
    transition: all 1.3s ease;
}

section.scrolled {
    padding-top: 90px;
    /* The height of the navbar when scrolled */
}

/* Add styles to other elements /
    / ... */

/* Navbar styles */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Add active class to currently selected link */

.navbar .active {
    color: #0077b6;
    font-weight: bold;
}

/* Add transition effect when navbar is scrolled */

.navbar.scrolled {
    top: -20px;
    height: 60px;
    padding: 0.5rem 10%;
    font-size: 12px;
    transition: all 0.3s ease;
}

/* Add padding-top to sections when navbar is scrolled */

section {
    padding-top: 50px;
    transition: all 0.3s ease;
}

section.scrolled {
    padding-top: 60px;
    /* The height of the navbar when scrolled */
}

/* List styles */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

/* nav a:hover {
    color: #0077b6;
} */

.navbar ul li a {
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.navbar ul li a:hover {
    /* background-color: #0077b6; */
    color: rgb(39, 167, 218);
    font-size: 18px;
}

/* Add a class to the body when a link is clicked */

.navbar ul li a:active {
    color: #fff;
}

/* Add the class to move the navbar */

.navbar.move {
    top: -1px;
    transition: all 0.2s ease-in-out;
}

/* Add styles to the section when the navbar is moved */

section.move {
    padding-top: 60px;
}

/* Section styles */

section {
    background-color: #f5f5f5;
    padding: 180px 200px 200px;
    /* margin-bottom: 1px; */
    border-block-end-color: #97b8ca;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-block-end-style: groove; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 768px) {
    section {
        padding: 90px 30px 30px;
    }
}

section h2 {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 600;
    color: #007bb6;
}

section ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

/* Home section styles */

#home {
    /* background-image: url("assets/img/homeBg.jpg"); */
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    /* padding-top: -101px; */
}

.home .content {
    flex: 1 1 40rem;
    /* padding-top: 1rem; */
    z-index: 1;
    float: left;
    margin-left: 150px;
}


/* .home .image {
    background-image: url(assets/img/computerIcon2_bg.png);
    /* width: 23vw;
    height: 23vw;
    min-width: 150px;
    min-height: 150px;
     border-radius: 50%; 
    width: 29vw;
    height: 28vw;
    min-width: 120px;
    min-height: 150px;
    
    margin-right: 70px;
    cursor: pointer;
    border-radius: 40%;
    border-color: #070707;
    transform: perspective(200px) rotateY(-10deg);
} */

/* .home .image {
    transition: transform 0.9s ease;
    background-size: cover;
    background-position: center
} */


/* Media Responsive for Home image laptop */

/* @media only screen and (max-width: 767px) {
    .home .image {
      width: 60%;
      height: 60%;
      margin-right: 0;
    }
  } */
  @media only screen and (max-width: 450px) {
    .home .image {
      width: 35vw;
      height: 60%;
      margin-right: 0;
    }
  }
  
  .home .image {
    background-image: url(assets/img/computerIcon2_bg.png);
    width: 29vw;
    height: 28vw;
    min-width: 120px;
    min-height: 150px;
    margin-right: 70px;
    cursor: pointer;
    border-radius: 40%;
    border-color: #070707;
    transform: perspective(200px) rotateY(-10deg);
    transition: transform 0.9s ease;
    background-size: cover;
    background-position: center;
  }
  

/* .home .image:hover {
    background-image: url("assets/img/Profile.png");
    width: 23vw;
    height: 23vw;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    margin-top:30px;
    margin-right: 150px;
    cursor: pointer;
} */

.home .content h2 {
    font-size: 2.0rem;
    font-weight: 600;
    color: #094853;
    padding: 0.3rem 0;
    margin-top: 1px;
    margin-bottom: 1px;
    
}
/* 
.hello_name span{
    color:red;
} */


.typing-text {
    font-size: 15px;
    /* border-right: 2px solid #ddd; */
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s infinite;
    /* animation: typing 3s steps(40, end); */
  }

  @keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
  }



.home .content h2:hover {
    color: #0077b6;
}

.home .content h2 span {
    font-size: 2.5rem;
    font-weight: 600;
    color: #004984;
    padding: 0.5rem 0;
}

.home .content p {
    font-size: 2.0rem;
    color: rgb(180, 59, 59);
    font-weight: 600;
    padding: 0.5rem 0;
    margin-top: 10px;
}

.home .content p span {
    font-size: 2.0rem;
    color: rgb(133, 151, 175);
    font-weight: 600;
    padding: 1rem 0;
}

/* .home .btn {
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    padding: 1.3rem 1.5rem;
    border-radius: 2em;
    transition: 0.5s;
    color: #fff;
    background: #3482c2;
    box-shadow: 0px 5px 18px rgba(91, 106, 238, 0.6);
    font-family: "Nunito", sans-serif;
}

.home .btn span {
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.home .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
}

.home .btn:hover {
    background: #1a047e;
}

.home .btn:hover i {
    transform: translateX(5px);
} */

/* about-me && Hire-me buttons */

.about_hire-me {
    display: flex;
    justify-content: space-between;
    
}

.btn, .btn_hire-me {
    /* Add any desired styling for the buttons here */
}

/* .about_hire-me {
    float:left;
} */

.btn_about-me {
    /* font-size:px; */
    text-decoration: none;
    float: left;
    margin-top: -6rem;
    position: absolute;
    line-height: 0;
    padding: 1.3rem 1.5rem;
    /* border-radius: 0.91em; */
    transition: 0.5s;
    color: #fff;
    background: #3482c2;
    box-shadow: 0px 5px 18px rgba(91, 106, 238, 0.6);
    font-family: "Nunito", sans-serif;
}

.btn_about-me:hover {
    font-size: 10%;
    /* animation: bounce1 19.5s ease-in-out infinite; */
}

.btn_hire-me {
    text-decoration: none;
    font-size: 39px;
    float: right;
    right: 55%;
    margin-top: -5.6rem;
    position: absolute;
    line-height: 0;
    padding: 1.3rem 1.5rem;
    border-radius: 2em;
    transition: 0.5s;
    border-inline-end: dotted;
    border-top: dotted;
    color: #34519e;
    /* background: #3482c2; */
    box-shadow: 10px 5px 10px rgb(black);
    font-family: "Nunito", sans-serif;
}

.btn_hire-me:hover {
    font-size: 10px;
}



.fa-arrow-circle-down:before {
    margin-left: 0.6rem;
    font-size: 1.0rem;
    transition: 0.3s;
}

.fa-arrow-circle-down:hover {
    color: rgb(184, 216, 231);
    animation: bounce1 19.5s ease-in-out infinite;
}

/* Add a bounce animation */

@keyframes bounce1 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
}

.about_hire-me span {
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.about_hire-me {
    display: flex;
}

.btn {
    flex: 1;
}

.btn_hire-me {
    flex: 1;
}

.about_hire-me {
    text-align: center;
}

.btn, .btn_hire-me {
    display: inline-block;
}


/* Resume Download Styles */
.btn_Resume {
    text-decoration: none;
    font-size: 30px;
    float: right;
    right: 33%;
    margin-top: -5.6rem;
    position: absolute;
    line-height: 0;
    padding: 1.2rem 1.1rem;
    border-radius: 2em;
    transition: 0.5s;
    border-inline-end: dotted;
    border-top: dotted;
    color: #11c3e2;
    /* background: #3482c2; */
    box-shadow: 10px 5px 10px rgb(black);
    font-family: "Nunito", sans-serif;
}

.btn_Resume:hover {
    font-size: 10px;
}







/* open to work vertical animation */

/* .open-to-work {
    vertical-align: 100px;
    animation: slide-down 1s ease-in-out;
    writing-mode: vertical-rl;
    
    transform: rotate(-180);
  }
  
  @keyframes slide-down {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  } */

/* social icons start */

.socials {
    position: relative;
    margin-top: 9rem;
}

.socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
}

.social-icons a {
    font-size: 2rem;
    display: inline-block;
    line-height: 45px;
    color: #14282c;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #0685da;
}

.social-icons a.github:hover {
    background-color: #0e0e0e;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dev:hover {
    background-color: #070707;
}

.social-icons a.instagram:hover {
    background-color: #ee00da;
}

/* social icons end */

/* hero media queries starts*/

@media (max-width: 450px) {
    .home .btn {
        margin: 4rem 0;
    }
    .socials {
        margin-top: 12rem;
    }
    .home .image img {
        margin-top: -12rem;
    }
    .home .content p {
        font-size: 2.2rem;
    }
    .home .content p span {
        font-size: 2.2rem;
    }
}

section {
    /* height: 65vh; */
    height: auto;
    /* Set the height of each section to the full viewport height */
    overflow: hidden;
    /* Hide the overflow */
}

/* Add this class to the section you want to show */

.show {
    overflow: auto;
    /* Show the overflow */
}

/* Hide the button by default */

#top-icon.hidden {
    display: none;
}

#top-icon img {
    width: 40px;
    /* adjust as needed */
    height: 40px;
    /* adjust as needed */
}

/* Show the button when scrolled down 40cm or more */

#top-icon.visible {
    display: block;
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 1000;
    width: 60px;
    /* adjust as needed */
    height: 60px;
    /* adjust as needed */
    animation: bounce 9.5s ease-in-out infinite;
}

/* Add a bounce animation */

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
}

/* <section id="about"> Starts */



.about-container{
    display: flex;
    border-color: black;
    border-radius: 20px;
    width: 95%;
    /* height: 80%; */
    background-color:rgb(253, 253, 253);
    border-radius: 10px;
    /* margin-right: 10px; */
    animation: fadeIn 1s ease-out;
    padding: 3%;
    /* width: calc(60% - 160px);
    transform: skewX(-6deg); */
    /* height: 100%; */
    margin-right: 10%;
    /* width: calc(60% - 160px); */
    transform: skewX(-6deg);
    border: 1px solid #ebedf5;

}
.about-container{
    background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0) no-repeat 100% 0 / 2em 2em,
    linear-gradient(-135deg, transparent 1.5em, rgb(90, 155, 180) 0);
  
  -webkit-filter: drop-shadow(10px 30px rgba(0,0,0,0.1));
  filter: drop-shadow(14px 14px rgba(0,0,0,0.1));
}

.about-container::before{
    content: ' ';
  position:absolute;
  top:2em; 
  right:0;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,0.1) 0) 100% 0 no-repeat;
  width: 1.2em;
  height:1.2em;
  transform: rotate(180deg)
}



.about-description{
    /* width: 65%; */
    border-color: black;
    border-radius: 20px;
    /* width: 95%; */
    /* height: 80%; */
    background-color:rgb(253, 253, 253);
    border-radius: 23px;
    /* margin-right: 10px; */
    animation: fadeIn 1s ease-out;
    padding: 3%;
    /* width: calc(60% - 160px);
    transform: skewX(-6deg); */
    /* height: 100%; */
    margin-right: 3%;
    /* width: calc(60% - 160px); */
    /* transform: skewX(-6deg); */
    /* border: 1px solid #ebedf5; */
}
.about-description:hover{
    border-color: rgb(109, 13, 235);
    border-radius: 10px;
    box-shadow: #007bb6;
}

h3.about-transparent {
    font-size: 50px;
    /* color: #79aa9b; */
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-description p {
    font-size: 23px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #051316;
    text-align: justify;
    font-family: 'Font Awesome 5 Free';
    
    
}

.about-description p {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.about-description p .highlight{
    color: rgb(189, 27, 24);
    
}

.about-description .btn{
    text-shadow: 1px 1.4px 1px rgb(210, 238, 238);
}


.about-profile-image{
    width: 20%;
    padding-right: 10px;
}
.about-profile-image img{
    width: 15vw;
    height: 15vw;
    min-width: 50px;
    min-height: 50px;
    /* margin-right: 7px; */
    cursor: pointer;
    border-radius: 50%;
    border-color: #070707;
    /* transform: perspective(100px) rotateY(-2deg); */
    /* transform: rotateY(-2deg); */
    transform: skew(6deg);
    transition: transform 0.9s ease;
    background-size: cover;
    background-position: center;
    padding-top: 56px;
    -webkit-user-drag: none;
    /* border-top-left-radius: 8px;
    border-bottom-right-radius: revert; */
}


/* <section id="about"> Ends Here */




/* <section Education  */

/* Vertical Education Section Starts Here */

/* #education{
    background: #094853;
} */

#bachelors {
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 3%;
    /* border: 2px solid #a4abc9; */
    padding-left: 36px;
    border-radius: 20px;
    background: white;
    border: 1px solid #ebedf5;
}

#bachelors:hover {
    border-color: rgb(161, 155, 151);
}

#intermediate {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 3%;
    border: 1px solid #ebedf5;
    padding-left: 36px;
    border-radius: 20px;
    background: white;
}
#intermediate:hover {
    border-color: rgb(161, 155, 151);
}

#school {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 3%;
    border: 1px solid #ebedf5;
    padding-left: 36px;
    border-radius: 20px;
    background: white;
}

#school:hover {
    border-color: rgb(161, 155, 151);
}

/* Degree Css */

.EduContainer #bachelors span.Degree {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.EduContainer #intermediate span.Degree {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.EduContainer #school span.Degree {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* (Btech) CSS */

.btech {
    /* color:silver; */
    font-weight: 400;
    color: rgb(31, 25, 25);
    /* color: silver; */
}

/* University Name /SchoolName */

.EduContainer #bachelors span.UniversityName{
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1624c9;
}
.EduContainer #intermediate span.UniversityName{
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #a61bdd;
}
.EduContainer #school span.UniversityName {
    font-weight: lighter;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1624c9;
}

/* DateFrom-To */

.EduContainer #bachelors span.DateFrom-To {
    margin-left: 40%;
    font-style: italic;
    font-size: 16px;
    color: gray;
    
    /* right: 0; */
}

.EduContainer #intermediate span.DateFrom-To {
    margin-left: 53%;
    font-style: italic;
    font-size: 16px;
    color: gray;
    /* right: 0; */
}

.EduContainer #school span.DateFrom-To {
    margin-left: 47%;
    font-style: italic;
    font-size: 16px;
    color: gray;
    /* right: 0; */
}

/* University Locations */

.EduContainer #bachelors span.UniversityLocation {
    margin-left: 37%;
    font-style: italic;
    font-size: 16px;
    color: #c75353;
    /* right: 0; */
    /* text-decoration: none; */
}

.EduContainer #intermediate span.UniversityLocation {
    margin-left: 37%;
    /* right: 0; */
    font-style: italic;
    font-size: 16px;
    color:#c75353;
}

.EduContainer #school span.UniversityLocation {
    margin-left: 60%;
    /* right: 0; */
    font-style: italic;
    font-size: 16px;
    color: #c75353;
}

.Google-location{
    text-decoration: none;
    color:#c75353;
}


.EduContainer span.DateFrom-To {
    font-weight: bold;
    font-size: 16px;
}

.EduContainer span.Degree {
    font-style: italic;
    font-size: 16px;
    color: gray;
}

.EduContainer span.GPA {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #837c7c;
} 
.EduContainer span.GPA-value {
    font-weight: bold;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: #185c69;
} 

.courses {
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
    color: #837c7c;
}

.courses-bachelors {
    display: inline-block;
    margin-left: 90px;
    margin-top: -13px;
}

.courses-bachelors {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.courses-bachelors .course-box {
    background-color: rgb(160, 214, 191);
    border: 2px solid silver;
    /* border: 2px solid rgb(143, 61, 61); */
    border-radius: 5px;
    display: inline-block;
    /* width: calc(23% - 13px); */
    margin: 0 10px 10px 0;
    padding: 6px;
    text-align: center;
    color: black;
}

.courses-intermediate .course-box {
    background-color: rgb(120, 168, 190);
    border: 2px solid silver;
    /* border: 2px solid rgb(143, 61, 61); */
    border-radius: 5px;
    display: inline-block;
    /* width: calc(23% - 13px); */
    margin: 0 10px 10px 0;
    padding: 6px;
    text-align: center;
    color: black;
}


/* Vertical Education Section Ends Here */

/* work Experience Container */

.work-container {
    background-color: whitesmoke;
    color: #7f8c97;
    max-width: 1224px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 2em;
    position: relative;
}

.timeline {
    position: relative;
    width: auto;
    margin: 0 auto;
    margin-top: 5em;
    padding-bottom: 2em;
    padding-left: 0;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 4px;
    height: 100%;
    margin-left: -3px;
    background: #3985bb;
    /* background-color: #1b82e9; */
    z-index: 5;
}

.dir-l, .dir-r {
    position: relative;
    width: 40%;
    padding: 1.5em 1em;
    background: #fff;
    /* box-shadow: 0 3px 0 #d7e4ed; */
    box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.1);
    box-shadow: #4a99d1;
    margin-top: 0;
    margin-bottom: 1.5em;
    border-radius: 10px;
    border-color: red;
}

/* .timeline i {
    position: absolute;
    border-radius: 50%;
    size: 30px;
    top: 1.5em;
    width: 3.5em;
    height: 3.5em;
    right: 0;
    z-index: 10;
    text-align: center;
    background-color: #e9e3e5;
    color: rgb(27, 23, 23);
} */

/* .timeline-icon{
	position: absolute;
	top: 1em;
	width: 8.5em;
	height: 2.5em;
	right: 0;
	border-radius: 50%;
	z-index: 10;
} */

.timeline-icon {
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    top: -0.1em;
    /* align-content: center; */
    width: 50px;
    height: 40px;
    left: 50.4%;
    margin-left: -30px;
    box-shadow: 0 0 0 4px rgb(168, 79, 79), inset 0 2px 0 rgba(0, 0, 0, 0), 0 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: rgb(242, 246, 253);
    font-size: 33px;
    text-align: center;
}

/* .timeline a {
    color: #38666a;
    margin-left: .3em;
    margin-right: 0px;;
} */

.dir-l {
    float: left;
}

.dir-l:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    position: absolute;
    right: -.95em;
    top: 1em;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 15px solid #fff;
}

.dir-r {
    float: right;
}

.dir-r:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    position: absolute;
    left: -.9em;
    top: 1em;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 15px solid #fff;
}

.timeline-blocks {
    display: block;
    height: auto;
    padding: 1em 0;
    position: relative;
    overflow: hidden;
}

.timeline i {
    border-radius: 50%;
    width: 100%;
}

.timeline a {
    margin-top: 90%;
    color: #38666a;
    font-weight: 600;
    margin-left: 19.3em;
    /* margin-right: 0px; */
    /* border-radius: 100px; */
    box-shadow: #00aced;
    /* text-decoration:none; */
}

.timeline-blocks .date-l, .timeline-blocks .date-r {
    position: absolute;
    top: 2em;
    right: 58%;
    /* left: 58%; */
    font-size: 1.3em;
    /* color: lightgreen; */
}

.timeline-blocks .date-r {
    left: 58%;
    right: auto;
}

.timeline-blocks a:hover {
    color: #4B878D;
}

.CompanyName, .CompLocation, .Description, .Skills {
    display: inline-block;
    font-weight: 545;
    color: #bb2e24;
    margin-right: 5px;
    /* font-family: "Dosis"; */
    font-size: 1.2em;
}

.CompanyName {
    /* padding: 10px; */
}

.CompanyNameDetail {
    font-size: 1.3em;
    color: rgb(32, 19, 216);
}

.CompLocation {
    background-color: white;
    right: 0;
}

.compLocName {
    color: green;
}

.timeline .fas {
    margin-left: 130px;
}

.timeline h3 {
    font-weight: bold;
    font-size: 1.7em;
    color: #4B878D;
    width: 90%;
    margin-top: 0;
    font-family: "Dosis";
}

.timeline p {
    font-size: 14px;
    text-align: justify;
    padding: 1px;
    font-family: cursive;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

/* .timeline p .CompanyNameDetail{
    color: green;
} */

/* .description-list{
    list-style-type: disc;
    text-align: justify;
    margin-right:1px; 
  } */

.description-list li {
    list-style-type: disc;
    text-align: justify;
    margin-right: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ::after
.view-more {
    list-style-type: disc;
}  */

.description-list li.view-more {
    list-style-type: disc !important;
    size: 30px;
}

ul .description-list {
    /* padding: 24px; */
    margin-left: 30px;
}

/* View MOre button css */

.dir-r {
    /* styles for the dir-r class */
}

.radius-3 {
    /* styles for the radius-3 class */
}

.description-list {
    /* list-style-type: square; */
    text-align: justify;
}

/* .view-more{
    display: none;
  } */

/* animation typing */

.content h2 span {
    animation: type 0.5s ease-out forwards;
    opacity: 0;
}

@keyframes type {
    to {
        opacity: 1;
    }
}

/*skilss section starts  */


.skills-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.skills-container-right, .skills-container-left {
    width: 40%;
    margin-left: 5%;
    margin-right: 10%;
}

.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name {
    font-size: 18px;
    font-weight: 300;
    color: #3b345e;
    text-transform: uppercase;
    margin: 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skill-bar {
    height: 14px;
    background: #ccc;
    border-radius: 3px;
}

.skill-per {
    height: 14px;
    background: #497c94;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #cbcba3;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #cbcba3;
    top: -18px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

/* @keyframes fillBars{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  } */

@keyframes fillBars {
    from {
        width: 0%;
    }
    to {
        width: var(--per);
    }
}

.skill-per.fill {
    animation: fillBars 2.5s
}

/*ContactMe and Contact-form   Css-styles ###Starts*/

/* section.contact.scrolled {
    padding-top: 200px;

    
} */

#contact {
    display: flex;
    padding-top: 85px;
}

/* .contact-me, .contactForm {
    flex: 1;
  } */

.contact-me {
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 10px;
    animation: fadeIn 1s ease-out;
    /* transform: perspective(400px) rotateY(-6deg); */
}

/* Div-contact-details */

.div-contact-details ul li {
    list-style-type: none;
    padding: 8px;
    font-size: 1.2em;
    font-weight: 530;
    font-family: 'Courier New', Courier, monospace;
}

.div-contact-details ul li i {
    padding-right: 8px;
    font-size: 1.2em;
}

.div-contact-details ul li .fa-map-marker-alt {
    color: #0ad699;
}

.div-contact-details ul li .fa-envelope {
    color: #0ad699;
}

.div-contact-details ul li .fa-phone {
    color: #0ad699;
}

.contact-location{
    text-decoration: none;
    color:black;
}

.contactForm {
    width: 40%;
    /* margin: 190px; */
    padding: 26px;
}

.contactForm {
    background-color: rgb(127, 196, 167);
    /* align-content: center;
    justify-content: center; */
    /* padding: 02px; */
    border-radius: 10px;
}

.lets-connect {
    font-size: 30px;
    margin-left: 50px;
    color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

form input, form textarea {
    margin: 10px;
    padding: 9px;
    width: 300px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}

form input[type="submit"] {
    margin: 10px;
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

form input[type="submit"] {
    background-color: #fff;
    border: 2px solid green;
    color: green;
    cursor: pointer;
    font-weight: bold;
    /* margin-left: auto; */
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
    border: white;
}

/*Div contact-me and div-contact-details  */

.div-contact-details {
    padding: 45px;
    justify-content: center;
}



.contact-me h3 {
    font-weight: bold;
    font-size: 32px;
    margin-left: 50px;
    margin-top: 60px;
    color: rgb(127, 196, 167);
}

.contact-name {
    font-size: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-weight: bold; */
    font-weight: 1600;
}

.div-social-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0;
    font-size: 20px;
}

.contact-social-icons li {
    list-style-type: none;
}

.contact-social-icons a {
    color: black;
    font-size: 1em;
    text-decoration: none;
}

.contact-social-icons a:hover {
    color: gray;
}

.contact-social-icons a i {
    margin: 1px;
}

.div-social-icons ul {
    display: flex;
    list-style-type: none;
    /* margin: 10px;; */
    /* padding: 10px; */
    /* white-space: 10px; */
    justify-content: flex-start;
    /* padding: 10px; */
}

.div-social-icons li {
    padding: 10px;
}





/* Trying Multiple things css  starts here*/

/* Trying Multiple things css  Ends here*/